@import "../fnt/weeklink-grom/weeklink-grom.css";

@font-face {
    font-family: "Space Grotesk";
    src: url("../fnt/SpaceGrotesk.ttf") format("truetype");
}

:root {
    --text-colour: #000000;
    --border-colour: #cccccc;
    --color-dl-red: #E7373A;
}

* {
    font-family: "Space Grotesk", sans-serif;
    font-feature-settings: "ss04" 1;
    font-weight: normal;
    font-style: normal;
    box-sizing: border-box;
    font-size: 16px;

    letter-spacing: -1px;
    line-height: 90%;
}

hr {
    background-color: #ccc;
    width: 100%;
    height: 1px;
    border: none;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.page-body {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: white; /*var(--color-dl-red);*/

    position: relative;
    animation: fade-in 1s;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-bottom: 10rem;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main-logo {
    width: 150px;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.web-backer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;

    /* background-image: url('../img/game/bullet-limbo.png');
    background-size: cover;
    background-position: center; */
    opacity: 0.2;
}

.web-backer::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;

    background: linear-gradient(to bottom, white, transparent);
}

.web-backer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}